# Node
.node/
node_modules/
dist/
build/
out/
.npm
.eslintcache
.parcel-cache
.cache/
.vite/
*.local

# Python
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.poetry/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
